http 状态码 | 一个无聊的博客

https://blog.pigfarm.top/2022/10/31/http-zhuang-tai-ma-mao-mao-ban/ 

 HTTP 状态码（HTTP Status Code）是用以表示网页服务器超文本传输协议响应状态的 3 位数字代码。它由 RFC 2616 规范定义的，并得到 RFC 2518、RFC 2817、RFC 2295、RFC 2774 与 RFC 4918 等规范扩展。所有状态码的第一个数字代表了响应的五种状态之一。所示的消息短语是典型的，但是可以提供任何可读取的替代方案。 除非另有说明，状态码是 HT